In [3]:
#imports
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [130]:
# Loading data
url = 'https://www.worldometers.info/coronavirus/country/us/#nav-yesterday'
resp = requests.get(url)
data = resp.text  

soup = BeautifulSoup(data, 'html.parser')
table = soup.find(id="usa_table_countries_yesterday")
 

df = pd.read_html(str(table))[0]
print(df.head())

     #    USAState  TotalCases  NewCases  TotalDeaths  NewDeaths  \
0  NaN   USA Total    71925931  197374.0     889197.0      574.0
1  1.0  California     7450319   29443.0      78870.0       64.0
2  2.0       Texas     5972238   53022.0      78491.0       68.0
3  3.0     Florida     5351391       NaN      63576.0        NaN
4  4.0    New York     4832399   18579.0      63824.0      205.0

   TotalRecovered  ActiveCases  Tot Cases/1M pop  Deaths/1M pop   TotalTests  \
0      44365669.0   26671065.0          217297.0         2686.0  880468373.0
1             NaN          NaN          188557.0         1996.0  131160392.0
2             NaN          NaN          205968.0         2707.0   55862537.0
3       3666925.0    1620890.0          249160.0         2960.0   50466759.0
4       2601723.0    2166852.0          248407.0         3281.0   95500969.0

   Tests/ 1M pop  Population    Projections
0      2660004.0         NaN            NaN
1      3319489.0  39512223.0  [projections]
2      1926568.0  28995881.0  [projections]
3      2349724.0  21477737.0  [projections]
4      4909177.0  19453561.0  [projections]

In [131]:
# Removing columns and rows
df.drop(['#',"Projections"], axis=1, inplace=True)
 
df.drop([0, 64], axis=0, inplace=True)
print(df.head())

     USAState  TotalCases  NewCases  TotalDeaths  NewDeaths  TotalRecovered  \
1  California     7450319   29443.0      78870.0       64.0             NaN
2       Texas     5972238   53022.0      78491.0       68.0             NaN
3     Florida     5351391       NaN      63576.0        NaN       3666925.0
4    New York     4832399   18579.0      63824.0      205.0       2601723.0
5    Illinois     2773362       NaN      33446.0        NaN       1924335.0

   ActiveCases  Tot Cases/1M pop  Deaths/1M pop   TotalTests  Tests/ 1M pop  \
1          NaN          188557.0         1996.0  131160392.0      3319489.0
2          NaN          205968.0         2707.0   55862537.0      1926568.0
3    1620890.0          249160.0         2960.0   50466759.0      2349724.0
4    2166852.0          248407.0         3281.0   95500969.0      4909177.0
5     815581.0          218861.0         2639.0   49488107.0      3905367.0

   Population
1  39512223.0
2  28995881.0
3  21477737.0
4  19453561.0
5  12671821.0

In [128]:
# datafram after excluding
print(df.head())

     #    USAState  TotalCases  NewCases  TotalDeaths  NewDeaths  \
1  1.0  California     7450319   29443.0      78870.0       64.0
2  2.0       Texas     5972238   53022.0      78491.0       68.0
3  3.0     Florida     5351391       NaN      63576.0        NaN
4  4.0    New York     4832399   18579.0      63824.0      205.0
5  5.0    Illinois     2773362       NaN      33446.0        NaN

   TotalRecovered  ActiveCases  Tot Cases/1M pop  Deaths/1M pop   TotalTests  \
1             NaN          NaN          188557.0         1996.0  131160392.0
2             NaN          NaN          205968.0         2707.0   55862537.0
3       3666925.0    1620890.0          249160.0         2960.0   50466759.0
4       2601723.0    2166852.0          248407.0         3281.0   95500969.0
5       1924335.0     815581.0          218861.0         2639.0   49488107.0

   Tests/ 1M pop  Population
1      3319489.0  39512223.0
2      1926568.0  28995881.0
3      2349724.0  21477737.0
4      4909177.0  19453561.0
5      3905367.0  12671821.0

In [6]:
# datafram summary
print(df.describe())

         TotalCases      NewCases   TotalDeaths   NewDeaths  TotalRecovered  \
count  6.300000e+01     20.000000     60.000000   12.000000    4.500000e+01
mean   1.141681e+06   9868.700000  14819.950000   47.833333    6.709382e+05
std    1.468834e+06  12937.846266  18310.658093   55.750798    7.796981e+05
min    3.000000e+00     38.000000      7.000000    1.000000    3.000000e+00
25%    2.138480e+05   1537.250000   2393.750000   12.750000    1.436660e+05
50%    6.813820e+05   4530.000000   9596.500000   37.000000    4.221640e+05
75%    1.455528e+06  10532.250000  19071.000000   64.500000    8.976670e+05
max    7.450319e+06  53022.000000  78870.000000  205.000000    3.666925e+06

        ActiveCases  Tot Cases/1M pop  Deaths/1M pop    TotalTests  \
count  4.500000e+01         52.000000      52.000000  6.000000e+01
mean   2.794077e+05     214342.134615    2493.557692  1.467447e+07
std    4.290013e+05      37827.031138     748.173709  2.240187e+07
min    0.000000e+00     124160.000000     809.000000  3.000000e+00
25%    1.846200e+04     200146.250000    1946.000000  3.070448e+06
50%    1.370030e+05     216632.000000    2726.000000  6.960140e+06
75%    3.974340e+05     239069.500000    3064.000000  1.711166e+07
max    2.166852e+06     308780.000000    3602.000000  1.311604e+08

       Tests/ 1M pop    Population
count   5.200000e+01  5.200000e+01
mean    2.610358e+06  6.377432e+06
std     1.214647e+06  7.300396e+06
min     7.416520e+05  5.787590e+05
25%     1.925836e+06  1.790876e+06
50%     2.320890e+06  4.342705e+06
75%     2.921964e+06  7.362761e+06
max     6.708611e+06  3.951222e+07

In [90]:
# New casess for top 5 states
Cases = df[['USAState','NewCases']]
print(Cases.sort_values(by=['NewCases'],ascending= False).head(5))

        USAState  NewCases
2          Texas   53022.0
1     California   29443.0
12       Arizona   22922.0
4       New York   18579.0
6   Pennsylvania   12333.0

In [135]:
# Total deaths for top 5 states
death = df[['USAState','TotalDeaths']]
print(death.sort_values(by=['TotalDeaths'],ascending= False).head(5))

       USAState  TotalDeaths
1    California      78870.0
2         Texas      78491.0
4      New York      63824.0
3       Florida      63576.0
6  Pennsylvania      39538.0

In [134]:
# Total Deaths/ 1M Pop 
res=df.copy()
res.columns = res.columns.str.replace(' ' , '') 
deathper = res[['USAState','Deaths/1Mpop']]
#print(res)
print(deathper.sort_values(by=['Deaths/1Mpop'],ascending= False).head(5))

       USAState  Deaths/1Mpop
32  Mississippi        3602.0
12      Arizona        3520.0
11   New Jersey        3463.0
23      Alabama        3432.0
24    Louisiana        3296.0

In [133]:
# new cases/1m opo for the top 5 states
casesper = df.iloc[:, [0, 7]] 
print(casesper.sort_values(by=[casesper.columns[1]], ascending=False).head(5))

        USAState  Tot Cases/1M pop
40  Rhode Island          308780.0
45  North Dakota          276933.0
47        Alaska          257827.0
28          Utah          257642.0
13     Tennessee          254234.0